DATABASE_URL="mongodb://localhost:27017/msl-invoice-system"
SESSION_SECRET="replace-with-a-long-random-secret-at-least-32-characters"
SEED_ADMIN_EMAIL="admin@msl.local"
SEED_ADMIN_PASSWORD="admin12345"
